/*-----------------------footer----------------------- */ 
.footer {
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    color: #666;
    background-color: black;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px;
}
.footer .start{
    text-align: start;
}

.footer .center{
    text-align: center;
    font-size: 25px;
}

.footer .end{
    text-align: end;
}
.footer span {
    color: white;
    padding-right: var(--general-padding);
    padding-left: var(--general-padding);
    font-family: var(--funny-font);
    font-size: var(--standart-size-font);
}



.footer a{
    margin-left: 5px;
    margin-right: 5px;
    font-size: var(--standart-size-font);
    text-align: center;
    text-decoration: none;
    color: white;
}
  
.footer a:hover {
    opacity: 0.7;
}

  



